p{
    font-family: verdana;
}
.heading
{
   
    font-weight: bold;
    font-size: 60px;
    margin-top: 0px;
    margin-bottom: 0px;
    color: rgb(255,255,255);
}
.begginer_pro
{
    
    color:rgb(255, 255, 255);
    margin-top: 0px;
    margin-bottom: 25px;
    size: 35px;
}
.short_article
{
    width: 500px;
    color: rgb(255, 255, 255);
    margin-top: 2px;
    font-size:40px;
    
}
.container {
    height: 390px;
    position: relative;
    border: 3px solid rgb(81, 188, 255);
    background-color: rgb(81, 188, 255);
  }
  
.get_started
{
    background-color: rgb(0, 119, 255);
    color: white;
    border-radius: 6px;
    border:none;
    width: 320px;
    height: 80px;
}
.get_started:hover
{
    opacity: 0.7;
}
.get_started:active
{
    opacity: 0.5;
}
.big_font
{
    font-size: 30px;
    font-weight: bold;
}
.article_1
{
    font-family: tahoma;
    font-size: 25px;
    margin-top: 0px;
    margin-bottom: 30px;
    
}
